<div class="container text-center">
  <h1>easySurvey</h1>
  <p>Welcome!</p>
  
  <p><%= link_to 'Create Survey', new_admin_survey_path %></p>
  <p><%= link_to 'Manage My Surveys', admin_surveys_path %></p>
</div>
